<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="top-bar">
      <h1>sECCIÓN DE ADMINISTRADOR</h1>
    </div>
    <div class="contents">
      <form method="get" action="pages/bacon-ipsum">
        <button type="submit">Go to bacon page</button>
      </form>
      <form method="get" action="pages/veggie-ipsum">
          <button type="submit">Go to veggie page</button>
      </form>
      <form method="get" action="/addproduct">
          <button type="submit">Añadir un producto</button>
      </form>
      <form method="get" action="/productos">
          <button type="submit">Ver productos</button>
      </form>
      <form method="get" action="/marcas">
          <button type="submit">Ver marcas</button>
      </form>
      <form method="get" action="/categorias">
          <button type="submit">Ver categorías</button>
      </form>
    </div>
</body>

</html>
