<html>
        <head>
            <style>
            body {
                max-width: 600px;
                margin: 0 auto;
                border: 1px solid black;
                padding: 20px;
            }
            </style>
      </head>
      <body>
        <h1>Marketplace</h1>
        <p>Go to <a href="pages/bacon-ipsum">bacon page</a>.</p>
        <p>Go to <a href="pages/veggie-ipsum">veggie page</a>.</p>
        <p><a href="/addproduct">Add </a>a product.</p>
        <p><a href="/db/create-tables">Create database</a></p>
        <p><a href="/db/load-data">Load data</a></p>
        <p><a href="/coffees">Show query</a></p>
        <p><a href="/db/drop-tables">Delete tables</a></p>
        <form method="post" action="/in">
          <input type="hidden" id="hiddenPost" name="hiddenPost" value="0000"\>
        </form>
        
      </body>
</html>