<html>
        <head>
            <style>
            body {
                max-width: 600px;
                margin: 0 auto;
                border: 1px solid black;
                padding: 20px;
            }
            </style>
      </head>
      <body>
        <h1>Marketplace</h1>
        <p>Go to <a href="pages/bacon-ipsum">bacon page</a>.</p>
        <p>Go to <a href="pages/veggie-ipsum">veggie page</a>.</p>
        <p><a href="/addproduct">Añadir </a>un producto</p>
        <p><a href="/productos">Ver todos los productos</a></p>
        <p><a href="/marcas">Ver todas las marcas</a></p>
        <p><a href="/categorias">Ver todas las categorías</a></p>
        
      </body>
</html>