<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div class="top-bar">
      <h1>Marketplace</h1>
    </div>
    <div class="contents">
      <form method="get" href="pages/bacon-ipsum">
        <button type="submit">Go to bacon page</button>
      </form>
      <form method="get" href="pages/veggie-ipsum">
          <button type="submit">Go to veggie page</button>
      </form>
      <form method="get" href="/addproduct">
          <button type="submit">Add a product</button>
      </form>
      <form method="post" href="/db/create-tables">
          <button type="submit">Create database</button>
      </form>
      <form method="post" href="/db/load-data">
          <button type="submit">Load data</button>
      </form>
      <form method="post" href="/db/drop-tables">
          <button type="submit">Delete tables</button>
      </form>
      <form method="get" href="/coffees">
          <button type="submit">Show query</button>
      </form>
    </div>
</body>

</html>
