body {

            margin: 0 auto;
            border: 1px solid black;
            
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f7f7f7;
            tab-size: 4;
        }
        
        h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }
        
        .top-bar {
            background-color: #d63447;
            padding: 10px;
            margin-bottom: 20px;
            text-align: left;
            color: white;
        }

      
        .contents {
            width: 100%;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
            background-color: #d1cebd;
            padding: 50px;
        }

        p {
            font-family: Verdana, sans-serif;
        }
        
        button, input[type="submit"] {
            padding: 10px 20px;
            background-color: #f57b51;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 10px;
            font-family: Arial, sans-serif;
        }
        
        label,
        input[type="submit"] {
            display: block;
            margin-bottom: 10px;
        }

        a.button, input[type="submit"] {
            text-decoration: none;
            color: white;
        }
        